/* Color Pallet
e0fbfc
c2dfe3
9db4c0
5c6b73
253237
*/
html{
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
}
#content {
  width: 100%;
}
h2{
    font-family: 'Nunito', sans-serif;
    color:#555b6e;
    font-size:40px;
}



/* Nav bar */
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#navbar li {
  float: right;
}

#navbar li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
  background-color: #ffd6ba;
}
/* Banner */
#banner{
    background-color:#bee3db;
    height: 70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-family: 'Nunito', sans-serif;
}
#banner h1{
    margin:0;
    font-size: 64px;
    color: #555b6e;
    text-align: center;
}
#banner h2{
    color: #89b0ae;
    text-align:center;
}
#about{
    margin:auto;
    width:70vw;
}
#about-text{
    padding:25px;
}

#about-container{
    display:flex;
    justify-content:space-between;
}
#project-container{
    display:flex;
    justify-content: space-between;
}
#projects{
    width:70vw;
    margin: auto;
}
.project-card{
    margin:auto;
    width:250px;
    box-shadow:5px 10px 5px #c7c7c7;
    border: 5px solid #bee3db;
    padding: 20px;
    border-radius: 10px;
    height:350px;
}
.project-card h3{ 
    font-family: 'Nunito', sans-serif;
    color:#89b0ae;
}
#contact{
    width:70vw;
    margin:auto;
    padding-top:20px;
}
#contact h3{
    color:#555b6e;
    font-size: 20px;
    padding:10px 20px;
}
#contact a{
    color:#89b0ae;
}
.highlight{
    background-color:#ffd6ba;
    padding:0px 5px;
}
#cat-pic{
    width:500px;
    height:500px;
    display:block;
    min-width: 500px;
    object-fit: cover;
    max-height:500px;
}
button{
    margin:auto;
    background-color: #ffd6ba;
    border: none;
    color: #555b6e;
    font-family:"Nunito", sans-serif;
    padding: 20px;
    text-align: center;
    display: block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 7px;
    font-weight:bold;
}
img{
    width:400px;
    display:block;
}
#cat-quiz{
    margin:auto;
    width:70vw;
    padding:4vh 0;
}
#submit{
    margin:2vh;
}
#quiz-results{
    background-color:#bee3db;
    width:100%;
    padding:4vh 0;
}
#results{
    margin:auto;
    width:70vw;
}